$mainColor: #151b23;
$secColor: #0c0c0c;
$thirdColor: #fdcf57;
$frthColor: #062e2e;
$fithColor: #f5f5f5;
$red: red;
$grey: #ddd;
$lightgray: #ddd;
$black: black;
$blue: #2193b0;
$blue-light: #6dd5ed;
$third: #ddd;
$darkblue: #306eff;
$aqua: aqua;
$white: white;
$aqua_light: #36d1dc;
$orange: #ffd17f;
$orange-light: #ff7f7f;
$green: #2cb3a2;
$green-light: #b3ffab;
$purple: #654ea3;
$purple-light: #eaafc8;

$min-mobilex: "(min-width: 480px)";
$max-mobilex: "(max-width: 481px)";
$min-mobile: "(min-width: 767px)";
$max-mobile: "(max-width: 767px)";
$max-medium: "(max-width: 992px)";
$min-medium: "(min-width: 991px)";
$min-large: "(min-width: 1200px)";
$max-large: "(max-width: 1201px)";
