$mainColor: #151B23;
$secColor: #0C0C0C;
$thirdColor:#FDCF57;
$frthColor:#062e2e;
$fithColor:#F5F5F5;
$red:red;
$grey:#ddd;
$lightgray:#ddd;
$black:black;
$blue:#2193B0;
$blue-light:#6DD5ED;
$third:#ddd;
$darkblue:#306EFF;
$aqua:aqua;
$white:white;
$aqua_light:#36d1dc;
$orange:#FFD17F;
$orange-light:#FF7F7F;
$green:#2CB3A2;
$green-light:#B3FFAB;
$purple:#654ea3;
$purple-light:#eaafc8;


$min-mobilex:"(min-width: 480px)";
$max-mobilex:"(max-width: 481px)";
$min-mobile:"(min-width: 767px)";
$max-mobile:"(max-width: 768px)";
$max-medium:"(max-width: 992px)";
$min-medium:"(min-width: 991px)";
$min-large:"(min-width: 1200px)";
$max-large:"(max-width: 1201px)";